.black-bg {
  background-color: black;
}

.btn-primary{
    background-color: aqua;
}

.btn-secondary{
    background-color: cornflowerblue
}

.btn-success{
    background-color: blue;
}

.btn-danger{
    background-color: salmon
}

.btn-warning{
 background-color: darkturquoise
}

.btn-primary1{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(230,192,219,1) 35%, rgba(0,212,255,1) 100%);}

.btn-secondary2{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(185,223,187,1) 35%, rgba(0,212,255,1) 100%);
}

.btn-success3{
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.btn-danger4{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.btn-warning5{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(233,148,148,1) 100%);
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #007ACC;
  outline: 3px #007ACC solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button1 .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button1 svg path {
  transition: 400ms;
}

.button1:hover {
  background-color: transparent;
}

.button1:hover .text {
  color: #007ACC;
}

.button1:hover svg path {
  fill: #007ACC;
}

.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #03c6d7;
  outline: 3px #03c6d7 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button2 .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button2 svg path {
  transition: 400ms;
}

.button2:hover {
  background-color: transparent;
}

.button2:hover .text {
  color: #007ACC;
}

.button3 {
  transform: rotate(-25deg) skew(25deg);
  transform-style: preserve-3d;
  position: relative;
  list-style: none;
  width: 100px;
  height: 32px;
  border: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
}

.button3:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform: skewX(-41deg);
}

.button3:after {
  content: '';
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform: skewY(-49deg);
}

.button3 span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a2a2a;
  color: #fff;
  font-size: 25px;
  transition: 1.1s ease-out;
}

.button3:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
}

.button3:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.button3:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: .8;
}

.button3:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: .6;
}

.button3:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: .4;
}

.button3:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: .2;
}

.button3:active span:nth-child(5) {
  transform: translate(20px, -20px);
  opacity: 1;
}

.button3:active span:nth-child(4) {
  transform: translate(15px, -15px);
}

.button3:active span:nth-child(3) {
  transform: translate(10px, -10px);
}

.button3:active span:nth-child(2) {
  transform: translate(5px, -5px);
}

.button3:active span:nth-child(1) {
  transform: translate(0px, 0px);
}

.button3:nth-child(1):hover span {
  background: #52E19F;
}

.button4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px 20px;
  background-color: #212121;
  border: none;
  font: inherit;
  color: #e8e8e8;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  cursor: not-allowed;
  overflow: hidden;
  transition: all 0.3s ease cubic-bezier(0.23, 1, 0.320, 1);
}

.button4 span {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.button4::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  translate: 0 105%;
  background-color: #F53844;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.button4 svg {
  width: 32px;
  height: 32px;
  fill: #F53844;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.button4:hover {
  animation: shake 0.2s linear 1;
}

.button4:hover::before {
  translate: 0 0;
}

.button4:hover svg {
  fill: #e8e8e8;
}

@keyframes shake {
  0% {
    rotate: 0deg;
  }

  33% {
    rotate: 10deg;
  }

  66% {
    rotate: -10deg;
  }

  100% {
    rotate: 10deg;
  }
}

  .toggle > div {
    position: relative;
    padding: 10px;
    width: 150px;
    height: 75px;
    border-radius: 50px;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .5), 0px 1px 1px 0 rgba(255, 255, 255, 1);
    background: rgb(189, 191, 193);
    background: linear-gradient(to bottom, rgba(189, 191, 193, 1) 0%, rgba(249, 251, 254, 1) 100%);
  }
  
  .toggle > div > input[type=checkbox] {
    position: absolute;
    opacity: 0;
    top: -3px;
    left: 17px;
    width: 130px;
    height: 55px;
    z-index: 5;
  }
  
  .toggle > div > input[type=checkbox] ~ div {
    width: 130px;
    height: 55px;
    border-radius: 50px;
    border: 1px solid #979797;
    box-shadow: inset 5px 0 0 0 rgba(0, 0, 0, .1), inset -5px 0 0 0 rgba(0, 0, 0, .1), inset -6px 0 0 0 rgba(255, 255, 255, .5), inset -4px 6px 11px -5px rgba(0, 0, 0, .2), inset 1px 1px 0 0 rgba(255, 255, 255, 1), -6px 4px 11px -7px rgba(0, 0, 0, .5);
    background: rgb(253, 252, 251);
    background: linear-gradient(to right, rgba(253, 252, 251, 1) 37%, rgba(229, 229, 229, 1) 61%);
  }
  
  .toggle > div > input[type=checkbox]:checked ~ div {
    box-shadow: inset -5px 0 0 0 rgba(0, 0, 0, .1), inset 5px 0 0 0 rgba(0, 0, 0, .1), inset 6px 0 0 0 rgba(255, 255, 255, .5), inset -4px 6px 11px -5px rgba(0, 0, 0, .2), inset 1px 1px 0 0 rgba(255, 255, 255, 1), -6px 4px 11px -7px rgba(0, 0, 0, .5);
    background: rgb(229, 229, 229);
    background: linear-gradient(to right, rgba(229, 229, 229, 1) 39%, rgba(253, 252, 251, 1) 63%);
  }
  
  .toggle > div > input[type=checkbox] ~ div:before {
    content: attr(data-unchecked);
    display: block;
    position: absolute;
    border-radius: 10px;
    top: 27px;
    left: 30px;
  }
  
  .toggle > div > input[type=checkbox] ~ div:after {
    content: attr(data-checked);
    color: #df0000;
    text-shadow: 0 1px 0 #fff, 0px 0 7px #df0000;
    filter: dropshadow(color=#df0000, offx=0, offy=0);
    display: block;
    position: absolute;
    border-radius: 10px;
    top: 27px;
    left: 100px;
  }
  
  .toggle > div > input[type=checkbox]:checked ~ div:before {
    color: #119400;
    text-shadow: 0 1px 0 #fff, 0px 0 7px #007a08;
    filter: dropshadow(color=#007a08, offx=0, offy=0);
  }
  
  .toggle > div > input[type=checkbox]:checked ~ div:after {
    color: #000;
    text-shadow: none;
    filter: dropshadow(none);
  }

  /* From uiverse.io by @alshahwan */
/* From uiverse.io by @alshahwan */
.button5 {
  background-color: #fff;
  border: 1px solid #0077b5;
  padding: 5px;
  position: relative;
  width: 7.2em;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
}

.button5 p {
  position: absolute;
  top: 0.4em;
  left: 1.2em;
  margin: 0;
  padding: 0;
  transition: .5s;
  color: #0077b5;
}

.button5 svg {
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fff
}

.button5:hover p {
  left: 0.6em;
  color: #fff
}

.button5:hover svg {
  opacity: 1;
}

.button5:hover {
  background-color: #0077b5;
}

.button6 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  color: white;
  text-shadow: 2px 2px rgb(116, 116, 116);
  text-transform: uppercase;
  cursor: pointer;
  border: solid 2px black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  background-color: hsl(49deg 98% 60%);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.button6:active {
  transform: scale(0.9);
  transition: all 100ms ease;
}

.button6 svg {
  transition: all 0.5s ease;
  z-index: 2;
}

.play {
  transition: all 0.5s ease;
  transition-delay: 300ms;
}

.button6:hover svg {
  transform: scale(3) translate(50%);
}

.now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 2;
}

.button6:hover .now {
  transform: translateX(10px);
  transition-delay: 300ms;
}

.button6:hover .play {
  transform: translateX(200%);
  transition-delay: 300ms;
}

.button7,.button7::after {
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  position: relative;
}

.button7::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'GLITCH';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.button7:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

.button7:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}

.button7:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px,-10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px,10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px,0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px,-10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px,10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px,-10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px,10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px,-10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}

.button8 {
  border: none;
  display: flex;
  padding: 0.75rem 1.5rem;
  background-color: #488aec;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
  transition: all 0.6s ease;
}

.button8:hover {
  box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

.button8:focus,
.button8:active {
  opacity: 0.85;
  box-shadow: none;
}

.button8 svg {
  width: 1.25rem;
  height: 1.25rem;
}

.button9 {
  position: relative;
  height: 50px;
  padding: 0 30px;
  border: 2px solid #000;
  background: #e8e8e8;
  user-select: none;
  white-space: nowrap;
  transition: all .05s linear;
  font-family: inherit;
 }
 
 .button9:before, .button9:after {
  content: "";
  position: absolute;
  background: #e8e8e8;
  transition: all .2s linear;
 }
 
 .button9:before {
  width: calc(100% + 6px);
  height: calc(100% - 16px);
  top: 8px;
  left: -3px;
 }
 
 .button9:after {
  width: calc(100% - 16px);
  height: calc(100% + 6px);
  top: -3px;
  left: 8px;
 }
 
 .button9:hover {
  cursor: crosshair;
 }
 
 .button9:active {
  transform: scale(0.95);
 }
 
 .button9:hover:before {
  height: calc(100% - 32px);
  top: 16px;
 }
 
 .button9:hover:after {
  width: calc(100% - 32px);
  left: 16px;
 }
 
 .button9 span {
  font-size: 15px;
  z-index: 3;
  position: relative;
  font-weight: 600;
 }


  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  